<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap'
      rel='stylesheet'
    />

    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; } body, html { width:
      100%; background-color: #f8f8f8; font-family: "Figtree", sans-serif;
      font-weight: 400; } .container { width: 100%; display: flex; padding:
      32px; } .content { max-width: 678px; width: 100%; padding: 48px; margin: 0
      auto; background: #ffffff; border: 1px solid rgba(154, 154, 154, 0.2);
      border-radius: 12px; text-align: center; font-size: 16px; }
    </style>
  </head>
  <body>
    <div class='container'>
      <table class='content'>
        <tr>
          <td>
            <div>Hello world</div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>